@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Orbitron:900);
body{
}
h1#titulo{
font-family: 'Orbitron', sans-serif;
text-align: center;
font-size: 50pt;
color: rgb(108,136,130);
text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

h3#fale{
  color: #000000;
}

div#interface {
  width: 1300px;
  background-color: #CEF6F5;
  margin: -40px auto 0px auto;
  padding: 20px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
}




nav#menu {
  display: block;
}

nav#contato {
  display: block;
}

img#logo {
  display: block;
  margin: -120px 0px 0px -10px;
}
img#virus {
  display: block;
  margin: 0px 0px 5px 0px;
}

form{
  background-color: #084B8A;
}
